{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Sherman Dining Hall</h1>
    <p class="text-warning">
      Make a review!
    </p>
</div>



<form method="POST" action="/review" style="background-color: #e8e8e8; width: 50%; position: relative; border: 25px solid transparent; margin: auto; padding: 15px; text-align: center; border-radius: 10px;">

  answer = collectInput("Would you like to buy Water, Snacks, Supplies, or Ramen?")
  answer2 = collectInput("How many do you need?")
  answer3 = collectInput("How much are you willing to spend??")
  answer4 = collectInput("So you would like " + answer + ", you need to have "+ answer2 + " and you're willing to spend " + answer3)

  <h2>What do you want to buy?</h2>
  <select name='goods'>
    <option>water</option>
    <option>snacks</option>
    <option>supplies</option>
    <option>ramen</option>
  </select>

  <h2>How much do you need?</h2>

      <select name='quantity'>
        <option>10</option>
        <option>20</option>
        <option>50</option>
        <option>100</option>
        <option>500</option>
      </select>


  <!-- class="text-center" -->
  <h2>How much are you willing to spend?</h2>
  <input type="text" name="budget">

  <h2>Any other comments</h2>
  <textarea
      class="form-control"
      name="comments"
      rows="4"
      style="resize: vertical;"
      cols="40"
      maxlength="140"></textarea>

  <br>
  <input type="submit">


</form>

<br><br>


{% endblock %}
